

.contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.filterButton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 10px 20px;
}
.btnText{
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.9px;
}
.btnText:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

.btnText:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}
.filterButtonActive {
  font-style: normal;
  border: 1px solid #ad61ff;
  border-radius: 60px;
  padding: 10px 20px;
  color: #ad61ff;
}

.count {
  width: 26px;
  aspect-ratio: 1;
  background: #ad61ff;
  border-radius: 100%;
  margin-left: -25px;
  margin-top: -30px;
  padding-top: 2px;
  text-align: center;
}
.listt{
  width: 290px;
  height: 305px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: absolute;
  border-radius: 12px;
  background: #313131;
  align-items: center;
}

.list {
  width: 222px;
  height: 237px;
  background: #313131;
  overflow-y: auto;
  position: absolute;
  
}
.list::-webkit-scrollbar{
  width: 4px;
  background: #4B4949;
  border-radius: 10px;
  padding-right: 20px;
}
.list::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 10px;
}

.listName {
  padding-bottom: 28px;
  font-size: 20px;
  width: 152px;
}

.listNameActive {
  padding-bottom: 28px;
  font-size: 20px;
  width: 152px;
  color: #b672ff;
}

.listName:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #b672ff;
}

